[host]
link0 = enp0s31f6

[target]
name = example-target
control = "ssh://localhost"
;username = root
;password = admin
;keyfile = /home/username/.ssh/id_rsa
;system_host_keys = /dev/null ; don't use system host keys
; Using telnet
;control = "telnet://localhost"
;prompt = "#"
link0 = eth8
